@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.Container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
}
.Title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.Title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.User-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.User-details .Input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.User-details .Input-box .Details{
    font-weight: 500;
    margin-bottom: 5px;
}
.User-details .Input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}
.Gender-option .gender{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.gender input{
    accent-color: #080909;
}
button{
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 5px;
    background: linear-gradient(135deg, #c054b7, #5955d9);
}